body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: green;
  }
  .form-container {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
  }
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group input[type="number"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group input[type="radio"],
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }
  .form-group input[type="file"] {
    border: none;
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-group input[type="range"] {
    flex: 1;
    margin-right: 10px;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .form-group button:hover {
    background-color: #45a049;
  }